batch_job1/src/main/mule/batch_job1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<sftp:config name="SFTP_Config1_write" doc:name="SFTP Config" doc:id="b9ce53ca-2f9e-4aef-8089-61e5576bb8b5" >
		<sftp:connection workingDir="/batch success" host="192.168.43.168" username="tester" password="password" />
	</sftp:config>
	<sftp:config name="SFTP_Config2_writeeee" doc:name="SFTP Config" doc:id="0b648539-e26e-4e59-9bda-cc94c121803e" >
		<sftp:connection host="192.168.43.168" username="tester" password="password" workingDir="/failed records"/>
	</sftp:config>
	<sftp:config name="SFTP_Config" doc:name="SFTP Config" doc:id="3b33289a-29d4-4161-901d-7dc982ae8110" >
		<sftp:connection host="192.168.43.168" username="tester" password="password" />
	</sftp:config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="26051db2-7570-4a73-89a5-a98fd7d1259d" >
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9fbde737-2853-43a1-b2b1-37e5932bf3c3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batch_job1Flow" doc:id="6d410596-7401-4a5f-9644-dea00663caba" >
		<scheduler doc:name="Scheduler" doc:id="d080c464-6497-43cf-96dc-2e9e3c05cb20" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="c8cb855b-299b-494c-b04a-96f858fa8d4f" message="start the batch job:::"/>
		<sftp:read doc:name="Read" doc:id="6d176d31-cbab-45ed-8b26-6730124aec24" path="/batch input/sample.csv" config-ref="SFTP_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="3545b283-b243-442d-a56b-50d81b9fbe3f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="ea1a6a46-61f5-4c27-a56d-73f342f62bf7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batch_job1Batch_Job" doc:id="c97d93ec-4e3b-4c4b-a005-164054778579" blockSize="5" maxFailedRecords="-1">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="497a6205-2fe2-4d66-84c4-9bdabc705aac">
					<logger level="INFO" doc:name="Logger" doc:id="a67420a0-0406-4dac-8282-001f4604338b" message="inside batch step::#[payload123]"/>
					<ee:transform doc:name="Transform Message" doc:id="5fae414c-6385-4d11-9ef1-cd771e85b237" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="f874f68e-d6cc-4730-ae1e-8e148e9f3f9e" size="5">
						<logger level="INFO" doc:name="Logger" doc:id="5dd7dafc-2864-4359-a43a-8d375a8b5241" message="inside aggregator::"/>
						<ee:transform doc:name="Transform Message" doc:id="d088b9db-7ddf-4399-9698-7a1ae4626e60" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<sftp:write doc:name="Write" doc:id="59144073-7832-488e-9514-2dc29002e74d" config-ref="SFTP_Config1_write" path="#['sucessfile' ++ now() as String {format:'YYYY-dd-MM'} ++ random()*10]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="1fe69b1f-7edd-474e-aaa7-bcac0ad4813f" acceptPolicy="ONLY_FAILURES">
					<logger level="INFO" doc:name="Logger" doc:id="7a09165b-4978-4279-ad26-e38fe504ca85" message="inside batch step:::"/>
					<ee:transform doc:name="Transform Message" doc:id="76695ecc-c524-4a0c-a9ae-17479d354c93" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="2eec0c53-e978-4a8c-80ec-2766b51cbd53" size="5">
						<logger level="INFO" doc:name="Logger" doc:id="466c7946-7b66-43ee-aa5f-f1bd40f2ff54" message="inside bastch aggregator:::"/>
						<ee:transform doc:name="Transform Message" doc:id="80e0baeb-ae32-43cc-97ca-d94d9ba63bd6" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<jms:publish doc:name="Publish" doc:id="e7809a29-d5c2-478d-b976-93cf9ac2ba75" config-ref="JMS_Config" destination="akhil.batch.failure.files" persistentDelivery="true" priority="2" timeToLive="5" timeToLiveUnit="MINUTES"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="3b2dd3f7-ed70-48b4-a027-a44df389368f" message="success rate:::"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="batch_job1Flow1" doc:id="a3289907-ea5a-4b07-a524-b0c6faa24e4c" >
		<http:listener doc:name="Listener" doc:id="3da96a25-d82e-4eb8-9976-48bf62a0bb74" config-ref="HTTP_Listener_config" path="/consume"/>
		<jms:consume doc:name="Consume" doc:id="94dd7b40-3cd9-4aeb-96e2-36db39a901cd" config-ref="JMS_Config" destination="akhil.batch.failure.files">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:consume>
		<logger level="INFO" doc:name="Logger" doc:id="c0f81b4e-c772-40ff-af96-cd96c1e9ef8b" message="#[payload]"/>
	</flow>
</mule>
